$primary: #9400d9;
$danger: #ff4136;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
);

@import "node_modules/bootstrap/scss/bootstrap.scss";
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* variables */
:root {
  --font-family-principal: "PT Sans", sans-serif;
  --font-family-content: "PT Serif", serif;
  --spacer: 2rem;
}

/*general*/
body {
  height: 100vh;
  /* overflow: hidden; */
  /* background: linear-gradient(
    125.4deg,
    rgba(148, 91, 185, 0.32) 5.68%,
    rgba(113, 78, 192, 0.62) 38.63%,
    #026ec7 74.45%
  );
  color: #fafafa;*/
}
h1,
h2,
h3 {
  font-family: var(--font-family-principal);
}
p {
  font-family: var(--font-family-content);
}
/*edit component*/
#edit-title {
  display: none;
}
.edit-btn {
  float: right;
}

/*header*/
.navbar {
  background-color: #fbd1ff;
}
.navbar .logo img {
  height: auto;
  width: 120px;
}
#hero-img {
  background-color: aliceblue;
}

#hero-section img {
  border-radius: 100px;
  width: 200px;
  height: auto;
}

.hideEditBtn {
  display: none;
}

/*body*/
/*nav*/
nav {
  font-family: var(--font-family-principal);
}
/*login buttons */

ul {
  list-style: none;
}

ul.right-nav li {
  border-radius: 15px;
  padding: 0 10px;

  display: table-cell;
}

ul.right-nav li a {
  width: 150px;
  height: 45px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  color: #3a76cb;
  vertical-align: middle;
  display: table-cell;
}
ul.right-nav li.active a {
  background-color: #3a76cb;
  color: #fff;
}
/*form*/
/*footer*/
footer {
  min-height: 5vh;
}
/*experience*/
#edit-role-title {
  display: none;
}
/*about*/
#about-section {
}
#about-text {
}
/*education*/
/*skills*/
/*projects*/
/*login*/
/*edition buttons*/
.glassdiv {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);*/
}
