/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* variables */
:root {
  --font-family-principal: "PT Sans", sans-serif;
  --font-family-content: "PT Serif", serif;
  --spacer: 2rem;
}

/*general*/
body {
  height: 100vh;
  overflow: hidden;
  /*background: linear-gradient(
    110deg,
    rgba(148, 91, 185, 0.623) 6%,
    rgba(99, 7, 109, 0.5) 36%,
    rgba(2, 110, 199, 0.7) 100%
  );*/
  background: linear-gradient(
    125.4deg,
    rgba(148, 91, 185, 0.32) 5.68%,
    rgba(113, 78, 192, 0.62) 38.63%,
    #026ec7 74.45%
  );
  color: #fafafa;
}
h1,
h2,
h3 {
  font-family: var(--font-family-principal);
}
p {
  font-family: var(--font-family-content);
}
/*edit component*/
#edit-title {
  display: none;
}
.edit-btn {
  float: right;
}
/*scroller-component*/
.container-scroller {
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 90%;

  padding: var(--spacer);
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  /*background-color: #3a76cb;*/
  /*width: 100vw;*/
}
::-webkit-scrollbar {
  display: none;
}
.section-scroller {
  display: grid;
  grid-template-rows: min-content;
  width: auto;
  /*background-color: aliceblue;*/
  max-height: 500px;
}
.snaps-inline {
  scroll-snap-type: both mandatory;
  scroll-padding-inline-start: var(--spacer);
}
.snaps-inline > * {
  scroll-snap-align: start;
}
/*header*/

img {
  background-color: aliceblue;
  width: 300px;
  height: 300px;
}
/*body*/
.container,
.container-fluid {
}
/*nav*/
nav {
  height: 5%;
  font-family: var(--font-family-principal);
}
/*login buttons */
ul.right-nav {
  padding-left: 0px;
  padding-left: 0px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 1rem;
}
ul.right-nav li a {
  width: 150px;
  height: 45px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  color: #3a76cb;
  border: solid 1px #3a76cb;
  vertical-align: middle;
  display: table-cell;
}
ul.right-nav li:last-child {
  margin-right: 0px;
}
ul.right-nav li.active a {
  background-color: #3a76cb;
  color: #fff;
}
ul {
  float: left;
  margin-right: 20px;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
}
ul.right-nav {
  padding-left: 0px;
}

ul.right-nav li a {
  width: 150px;
  height: 45px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  color: #3a76cb;
  border: solid 1px #3a76cb;
  vertical-align: middle;
  display: table-cell;
}
ul.right-nav li:last-child {
  margin-right: 0px;
}
ul.right-nav li.active a {
  background-color: #3a76cb;
  color: #fff;
}
/*form*/
/*footer*/
footer {
  min-height: 5vh;
}
/*experience*/
#edit-role-title {
  display: none;
}
/*about*/
#about-section {
  overflow-y: scroll;
  height: 500px;
}
#about-text {
}
/*education*/
/*skills*/
/*projects*/
/*login*/
/*edition buttons*/
.glassdiv {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);*/
}
